<div layout-margin>

  <md-card md-theme-watch ng-repeat="tea in allData">
        <md-card-title-text layout-margin>
          <span class="md-headline">
            {{tea.name}}
          </span>
        </md-card-title-text>

        <md-card-content layout="row" layout-align="space-between">
          <div class="md-media-xl card-media">
            <img src="{{tea.imageUrl}}" alt="tea image">
            </div>
            <section layout="column">
              <p>
                <strong>
                  Price:
                </strong>
                {{tea.price | currency}}
              </p>
              <p>
                <strong>
                  Quantity:
                </strong>
                <button ng-value="changeQuantity" ng-click="change">Update Quantity
                </button>
                <!-- hide if button is unclicked -->
                <section
                  ng-show="changeQuantity"
                >
                  <input
                    type="number"
                    ng-model="newQuantity"
                  >
                  <button
                    ng-model="confirm"
                    ng-click="updateItem(tea, newQuantity)"
                >
                    Confirm
                  </button>
                </section>
              </p>

              <ul ng-repeat="category in allTea.categories">
                <li>
                  {{category}}
                </li>
              </ul>
            </section>
            <!-- change this to minus and plus -->
            <md-card-actions layout="column">
              <md-button
                class="md-icon-button"
                aria-label="upDate"
              >
                <ng-md-icon
                  icon="add_shopping_cart"
                  style="fill: black"
                  ng-click=""
                >
                </ng-md-icon>
              </md-button>
            </section>
          </md-card-actions>
        </md-card-content>
      </md-card>
</div>
