<div layout-margin>
  <!--category drop down -->
  <md-list-item layout-margin>
    <small>Category</small>
    <select ng-model="selectCat">
      <option ng-repeat="category in allData.categories | unique: category" value="{{category}}">
        {{category}}
      </option>
    </select>
    <md-input-container class="md-block">
      <label>Search</label>
      <input name="search" ng-model="searchTea" />
      <md-button class="md-secondary md-primary md-raised" href="/cart">
        Cart | (3) $87.43
      </md-button>
  </md-list-item>

<!-- Item cards -->
  <md-card md-theme-watch ng-repeat="tea in allData | filter: searchTea | filter: selectCat">
        <md-card-title-text layout-margin>
          <span class="md-headline">
            {{tea.name}}
          </span>
        </md-card-title-text>

        <md-card-content layout="row" layout-align="space-between">
          <div class="md-media-xl card-media">
            <img src="{{tea.imageUrl}}" alt="tea image">
            </div>
            <section layout="column">
              <p>
                <strong>Price:</strong>
                  {{tea.price | currency}}
                </p>
              <p>
                <strong>Caffeine:</strong>
                {{tea.caffeineScale}}
              </p>
              <p>
                <strong>Ingredients:</strong>
                {{tea.ingredients}}
              </p>
              <p>
                <strong>Rating:</strong>
                {{tea.rating}}
              </p>
              <p>
                <strong>Available?</strong>
                {{tea.inStock}}
              </p>
              <strong>Categories:</strong>
              <ul ng-repeat="category in tea.categories">
                <li>
                  {{category}}
                </li>
              </ul>
            </section>
            <md-card-actions layout="column">
          <!-- quantity selector -->
          <section>
            Quantity:
            <select ng-model="quantity">
              <option value="1">
                1
              </option>
              <option value="2">
                2
              </option>
              <option value="3">
                3
              </option>
              <option value="4">
                4
              </option>
              <option value="5">
                5
              </option>
              <option value="6">
                6
              </option>
              <option value="7">
                7
              </option>
              <option value="8">
                8
              </option>
              <option value="9">
                9
              </option>
              <option value="10">
                10
              </option>
            </select>
              <md-button
                class="md-icon-button"
                aria-label="addCart"
              >
                <ng-md-icon
                  icon="add_shopping_cart"
                  style="fill: black"
                  ng-click="addToCart(tea, quantity)"
                >
                </ng-md-icon>
              </md-button>
            </section>
          </md-card-actions>
        </md-card-content>
      </md-card>


</div>
